.product-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0 30 px 0 30 px;
    color: rgb(16, 34, 98);
    border-radius: 15px;
    border: 1px solid black;


}